<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="COVID-19 cases by day">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>COVID-19 cases by day</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="./main.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        margin-top: 20px;
      }

      canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      .chart {
        width:100%;
      }

      .lastUpdatedTimeStamp {
        font-size: 11px;
        color: #777;
      }
    </style>
</head>

<body>
  <div>
    <div class="container-xl">
      <h3>COVID-19 global cases by day</h3>
    </div>
    <br>
    <div class="container-xl">
      <div class="row">
        <div class="col-sm">
          <div class="alert alert-danger" role="alert">
            <h5>Total confirmed</h5>
            <div id="confirmedCounter" class="total-cases text-danger"></div>
          </div>
        </div>
        <div class="col-sm">
          <div class="alert alert-primary" role="alert">
            <h5>Total active</h5>
            <div id="activeCounter" class="total-cases text-primary"></div>            
          </div> 
        </div>
        <div class="col-sm">
          <div class="alert alert-success" role="alert">
            <h5>Total recovered</h5>
            <div id="recoveredCounter" class="total-cases text-success"></div>            
          </div>
        </div>
        <div class="col-sm">
          <div class="alert alert-dark" role="alert">
            <h5>Total deaths</h5>
            <div id="deathsCounter" class="total-cases text-dark"></div>            
          </div>
        </div>
      </div>
    </div>
    <div class="container-xl">
      <div id="chart">
        <canvas id="canvas"></canvas>
      </div>
      <p class="lastUpdatedTimeStamp">Data last updated: <span id="lastUpdated"></span></p>
      <button type="button" class="btn btn-sm btn-primary" id="changeScale">View logarithmic</button>
      <button type="button" class="btn btn-sm btn-primary" id="changeChartType">View bar chart</button>
      <button type="button" class="btn btn-sm btn-secondary" id="toggleCurrentCases">Add current cases</button>
      <br>
      <br>
    </div>
</body>
</html>
